<form #form="ngForm" novalidate>
    {{ detail | json }}
    <div>
        <input
            type="text"
            name="fullname"
            [ngModel]="detail?.fullname"
            #fullname="ngModel"
            required
        >
        <div *ngIf="fullname.errors?.required && fullname.dirty" class="error-message">
            Name is required
        </div>
        <!-- {{ fullname.errors | json }} -->
    </div>
    <div>
        <input
            type="number"
            name="id"
            [ngModel]="detail?.id"
            #id="ngModel"
            required
        >
        <div class="error-message" *ngIf="id.errors?.required && id.dirty">
            ID is required
        </div>
    </div>
    
    <div>
        <label>
            Checked In
            <input
                type="checkbox"
                name="checkedIn"
                [ngModel]="detail?.checkedIn"
                (ngModelChange)="toggleCheckIn($event)"  
            >
        </label>
    </div>
    <div *ngIf="form.value.checkedIn">
        <label>Checked in Date</label>
        <input
            type="number"
            name="checkedInDate"
            [ngModel]="detail?.checkedInDate"
        >
    </div>
    <div>
        Lugagge:
        <select
            name="bagagge"
            [ngModel]="detail?.bagagge"
            >
            <option *ngFor="let item of baggage;"
                [value]="item.key"
                [selected]="item.key === detail?.baggage"
            >
                {{ item.value }}
            </option>
        </select>
    </div>
    {{ form.value | json }}
</form>